<h1>Create a Routine</h1>
<p><%= @error %></p>
<form action="/routines" method="post">
    <label>Title</label>
    <input type="text" name="title">
    <label>Method</label>
    <textarea name="method"></textarea>
    <label>Image URL</label>
    <input type="text" name="image">
    <button type="submit">Add Routine</button>
</form>