<p><%= @error %></p>
<h3>❚█══█❚ You Must Log In or Sign Up To Get Gainz ❚█══█❚</h3>
<form action='/login' method="post">
    <input type="text" name="username">
    <input type="password" name="password">
    <input type="submit" value="Log In">
</form>