<!DOCTYPE html>
<html>

<head>
    <title>My awesome website</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <section class="hero">
        <div class="hero-inner">
            <h1>Welcome to Training Session</h1>
            <h2>Build and Share Your Workout Routines</h2>
            <a href="/routines" class="btn">Get Gainz...</a>
        </div>
    </section>
    <main>
        <p>Welcome to Training Session!</p>

        <p>This application is all about sharing your workout routines. See workout routines created by your fellow fit pals on the app. Get inspiration and get gainz!</p>
        
        <p>Seek inspiration from tagging the exercises you use with each routine. If you don't see what you need, add it to the database! </p>
</body>

</html>