<h1>Exercises</h1>
<% @exercises.each do |exercise| %>
    <h2><%= exercise.name %></h2>
    <img src ="<%= exercise.image %>" alt="exercise">
    <%# if current_user == exercise.user %>
    <%# end %>
<% end %>